*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;

}
body
{
    background-image: url(images/home2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.container
{
    overflow:hidden;
    align-self: center;
    width: 50vw;
    height: 85vh;
    display: grid;
    grid-template-rows: 3fr 4fr 1fr;
    background-color: rgba(128, 128, 128, 0.8);
    border: 3px solid white;
    border-radius: 15px;
    padding: 20px 60px;
    gap: 20px;
}
img
{
    width: 150px;
    height: 150px;
    border: 4px solid white;
    border-radius: 15px;
}
.name
{
    font-size: 35px;
    font-weight: 900;
    
}
.player,.vs
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.player1,.player2
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gameboard
{
display: grid;
grid-template-columns: repeat(3,115px);
grid-template-rows: repeat(3,115px);
justify-content: center;
gap:0.2px;
}
.gameboard>div
{
    background-size:100% 100%;
    border: 2px solid white ;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.gameboard>div:active
{
    border: 4px solid yellow;
    transform: scale(1.1);
}
.change 
{
    transform: scale(1.1);
}
body img
{
    transition: transform 0.4s ease-in-out;
}
body img:hover
{
    cursor: pointer;
}
body img:active
{
    transform: scale(1.1);
}
.replay:active
{
    width: 55px;
    height: 55px;
}
.winner
{
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 80px;
    font-style: italic;
}


